@use '../../utils' as *;
/*----------------------------------------*/
/*  01. HEADER CSS START HERE
/*----------------------------------------*/

.header-area{
    background: var(--st-grey-1);
    padding-top: 30px;
    background-repeat: no-repeat;
    background-position: bottom right;
    overflow: hidden;
    .header-navigation{
        background: var(--st-common-white);
        border-radius: 999px;
        padding: 20px 30px;
        .logo{
            img{
                width: 150px;
                @media #{$lg}{
                    width: 120px;
                }
                @media #{$sm,$xs}{
                    width: 120px;
                }
            }
        }
        .header-right{
            justify-content: end;
            .search-icon{
                padding-right: 25px;
                @media #{$lg,$xs}{
                    padding-right: 7px;
                }
                position: relative;
                &::before{
                    position: absolute;
                    content: '';
                    width: 1px;
                    height: 40px;
                    background: var(--st-common-black);
                    top: -7px;
                    right: 0;
                }
            }
            .sidebar-icon{
                padding-left: 25px;
                @media #{$lg,$xs}{
                    padding-left: 10px;
                }
            }
        }
    }
}

