@use '../../utils' as *;
/*----------------------------------------*/
/*  01. HEADER CSS START HERE
/*----------------------------------------*/

.header-area{
    background: var(--st-grey-1);
    padding-top: 30px;
    background-repeat: no-repeat;
    background-position: bottom right;
    .header-navigation{
        background: var(--st-common-white);
        border-radius: 999px;
        padding: 20px 30px;
        .logo{
            img{
                width: 150px;
                @media #{$lg}{
                    width: 120px;
                }
                @media #{$sm,$xs}{
                    width: 120px;
                }
            }
        }
        .header-right{
            justify-content: end;
            .search-icon{
                padding-right: 25px;
                @media #{$lg,$xs}{
                    padding-right: 7px;
                }
                position: relative;
                &::before{
                    position: absolute;
                    content: '';
                    width: 1px;
                    height: 40px;
                    background: var(--st-common-black);
                    top: -7px;
                    right: 0;
                }
            }
            .sidebar-icon{
                padding-left: 25px;
                @media #{$lg,$xs}{
                    padding-left: 10px;
                }
            }
        }
    }
}

/*----------------------------------------*/
/*  02. HEADER v2 CSS START HERE
/*----------------------------------------*/
.header-v2{
    .header-top-wrapper{
        padding: 15px 120px;
        background: var(--st-theme-primary);
    }
    .header-top-area{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .top-info {
            display: flex;
            .info-mail{
                padding-right: 60px;
                a{
                    font-size: 12px;
                    line-height: 16px;
                    display: flex;
                    color: #151422;
                    i{
                        font-size: 16px;
                        margin-right: 9px;
                        color: #FF474D;
                    }
                }
            }
            .info-location{
                a{
                    font-size: 12px;
                    line-height: 16px;
                    display: flex;
                    color: #151422;
                    i{
                        font-size: 16px;
                        margin-right: 9px;
                        color: #FF474D;
                    }
                }
            }
        }
        .top-socials{
            ul{
                li{
                    display: inline;
                    i{
                        font-size: 15px;
                        padding: 0 2px;
                        margin-left: 23px;
                        color: #151422;
                    }
                }
            }
        }
    }
}
