@use '../utils'as *;


.primary-btn {
    border: none;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1; 
    transition: all 0.4s ease;
    padding: 12.5px 30px;
    background: var(--st-theme-primary);
    color: var(--st-heading-primary);
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.55px;
    border-radius: 30px;

    & i {

        padding-left: 8px;
    }
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: -100%; 
        width: 100%;
        height: 100%;
        background-color: #c4deb7; 
        transition: all 0.4s ease;
        z-index: -1; 
    }
}
.primary-btn:hover::before {
    left: 0; 
  }
.secondary-btn {
    border: none;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1; 
    transition: all 0.4s ease;
    padding: 12.5px 30px;
    background: var(--st-theme-secondary);
    color: var(--st-heading-primary);
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.55px;
    border-radius: 30px;

    & i {

        padding-left: 8px;
    }
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: -100%; 
        width: 100%;
        height: 100%;
        background-color: #c4deb7; 
        transition: all 0.4s ease;
        z-index: -1; 
    }
}
.secondary-btn:hover::before {
    left: 0; 
  }

.white-btn {
    border: none;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1; 
    transition: all 0.4s ease;
    padding: 12.5px 30px;
    background: var(--st-common-white);
    color: var(--st-heading-primary);
    border: 1px solid var(--st-theme-white);
    -webkit-transition: all ease-in-out .4s;
    -moz-transition: all ease-in-out .4s;
    -ms-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.55px;
    border-radius: 30px;

    & i {

        padding-left: 8px;
    }
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: -100%; 
        width: 100%;
        height: 100%;
        background-color: var(--st-grey-1); 
        transition: all 0.4s ease;
        z-index: -1; 
    }

}
.white-btn:hover::before {
    left: 0; 
}



.black-btn {
    border: none;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1; 
    transition: all 0.4s ease;
    padding: 19px 30px;
    background: var(--st-common-black);
    color: var(--st-common-white);
    -webkit-transition: all ease-in-out .4s;
    -moz-transition: all ease-in-out .4s;
    -ms-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.55px;
    border-radius: 30px;

    & i {

        padding-left: 8px;
    }
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: -100%; 
        width: 100%;
        height: 100%;
        background-color: var(--st-common-white); 
        transition: all 0.4s ease;
        z-index: -1; 
        border: none;
    }
}
.black-btn:hover::before {
    left: 0; 
}