
/*--
    - Spacing
-----------------------------------------*/

.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-80 {
    margin-top: 80px;
}
.pt-80 {
    padding-top: 80px;
}
.p-120{
    padding: 120px 0;
}