@use "../../utils" as *;
/*----------------------------------------*/
/*  26. Fashion-Blogs CSS START
/*----------------------------------------*/


.fashion-blog-wrapper {
    margin-top: 120px;
    .fashion-blog-title{
        padding: 120px 0px 100px 0px;
    }
    .gray-fashion-blog {
        background-color: var(--st-grey-1);
        border-radius: 60px;
        
    }
    .single-fashion-blog {
        border: none;
        border-radius: 20px;
        overflow: hidden;
        transition: transform 0.3s ease;
        position: relative;
        padding-bottom: 30px;
        
    .fashion-body {
        padding: 13px;
        border-radius: 20px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.95));
        position: absolute;
        top: 70%;
        width: 101%;
        left: 0;
        right: 0;
    
    .fashion-title {
        color: var(--st-common-black);
        font-size: 29.1px;
        font-weight: 400;
        padding-bottom: 20px;
        }
    }
}

    .tags {
        .badge{
                background-color: var(--st-theme-secondary);
                color: var(--st-common-black);
                border-radius: 20px;
                font-weight: 400;
                padding: 10px 15px 10px 15px;
            }
        }
}
