@use '../../utils'as *;



/*----------------------------------------*/
/*  03. HERO CSS START HERE
/*----------------------------------------*/
.hero-area {
    .hero-content {
        @media #{$md,$sm,$xs} {
            padding-bottom: 50px;
        }

        .hero-title {
            padding-bottom: 30px;
            margin: 0;
        }

        p {
            padding-bottom: 40px;
            margin: 0;
        }

        .appointment-button {
            padding-bottom: 30px;
        }

        .location-selector {
            padding: 14px 28px;
            background: var(--st-common-white);
            border-radius: 35px;
            width: 85%;
            align-items: center;
            justify-content: space-between;

            @media #{$lg,$xs} {
                width: 100%;
            }

            @media #{$xss} {
                gap: 10px;
                flex-direction: column;
                align-items: start;
                border-radius: 12px;
            }

            .location-options {
                @media #{$xss} {
                    border-bottom: 1px solid var(--st-border-1);
                    padding-bottom: 8px;
                    margin-bottom: 5px;
                    width: 100%;

                    .nice-select {
                        width: 100%;
                    }
                }
            }

            .location-icon {
                i {
                    border: 1px solid var(--st-border-1);
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                }
            }

            .search-options {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background: var(--st-theme-primary);

                @media #{$xss} {
                    margin: 5px auto 0 auto;
                }
            }

            .nice-select {
                background-color: transparent;
                border: none;

                .current {
                    font-size: 20.9px;
                    font-weight: 500;

                    @media #{$xss,$xs,$sm,$lg} {
                        font-size: 16.9px;
                    }

                }
            }
        }
    }

    .hero-image-container {
        padding-top: 108px;

        @media #{$md,$sm,$xs} {
            padding: 50px 0;
        }

        @media #{$md,$sm,$xs,$lg,$xl} {
            overflow: hidden;
        }

        .star-overlay {
            right: -140px;
            top: 31%;
        }

        .snack-overlay {
            bottom: 60px;
            left: 35px;
        }

        .hero-left-img {
            justify-content: end;

            @media #{$md,$sm,$xs} {
                justify-content: center;
            }

            img {
                width: 100%;
            }

            .first-img {
                max-width: 330px;
                max-height: 400px;
                display: flex;
                flex-direction: column;
                align-items: end;
            }
        }

        .hero-phone-number {
            margin-left: 30px;

            @media #{$xss} {
                margin-left: 15px;
            }
        }

        .hero-card {
            max-width: 240px;
            background: var(--st-theme-primary);
            padding: 30px 15px;
            text-align: center;
            border-radius: 30px;
            width: 100%;

            @media #{$xss} {
                padding: 10px 5px;
                margin-bottom: 15px;
                border-radius: 12px;
            }

            @media #{$xs} {
                padding: 10px 5px;
                border-radius: 12px;
            }

            .phone-icon {
                width: 80px;
                height: 80px;
                background: #CCD9C4;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                font-size: 36px;
                margin: 0 auto;

                @media #{$xss} {
                    width: 40px;
                    height: 40px;
                    font-size: 18px;
                }
            }

            span {
                padding-top: 20px;
                display: block;
                padding-bottom: 5px;

                @media #{$xss} {
                    padding-top: 5px;
                    font-size: 14px;
                    padding-bottom: 0;
                }
            }

            h6 {
                font-weight: 500;

                @media #{$xss} {
                    font-size: 16px;
                    line-height: 16px;
                }
            }
        }

        .heart-spaciallist {
            margin-top: 30px;
            padding: 15px 30px;

            @media #{$xss} {
                padding: 10px 5px;
                margin-top: 15px;
            }

            img {
                max-width: 80px;
                max-height: 80px;
                border-radius: 50%;

                @media #{$xss} {
                    max-width: 40px;
                    max-height: 40px;
                }
            }

            h6 {
                padding-top: 10px;

                @media #{$xss} {
                    margin-bottom: 0;
                }
            }

            span {
                padding: 0;
                font-size: 16px;
                line-height: 24px;

                @media #{$xss} {
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            .card-social {
                padding-top: 12px;

                @media #{$xss} {
                    padding-top: 5px;
                }

                ul {
                    li {
                        display: inline;
                        padding: 0 12px;

                        a {
                            i {
                                font-size: 16px;
                                line-height: normal;
                            }
                        }
                    }
                }
            }
        }
    }
}



/*----------------------------------------*/
/*  04. SERVICES CSS START HERE
/*----------------------------------------*/

.service-area {
    padding: 100px 0;

    @media #{$md} {
        padding: 60px 0;
        padding: 60px 0;
    }

    @media #{$sm,$xs} {
        padding: 30px 0;
    }

    .service-title-wrapper {
        justify-content: space-between;
        align-items: center;
        padding-bottom: 60px;

        @media #{$xs} {
            flex-direction: column;
            gap: 18px;
        }

        .service-title {
            margin-bottom: 0;
        }
    }

    .service-wrapper {
        .single-service {
            .service-overlay-icon {
                a {
                    width: 56px;
                    height: 56px;
                    background: var(--st-grey-1);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    right: 3px;
                    top: -20px;
                    border: 1px solid var(--st-border-1);

                    &:hover {
                        background-color: var(--st-theme-secondary);
                    }

                    z-index: 9;
                }
            }

            .service {
                border: 1px solid var(--st-border-1);
                padding: 20px 30px;
                border-radius: 15px;
                width: 95%;
                z-index: 1;
                transition: all ease-in-out .4s;

                @media #{$xl} {
                    padding: 20px 18px;
                }

                @media #{$md,$xss} {
                    padding: 14px 15px;
                }

                &:hover {
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    border-color: var(--st-theme-primary);
                }

                &:hover>.serive-heading>.heading-icon::before {
                    top: 0;
                }

                .serive-heading {
                    align-items: center;
                    margin-bottom: 20px;

                    h4 {
                        @media #{$md,$xss} {
                            font-size: 24px;
                            line-height: 30px;
                        }
                    }

                    .heading-icon {
                        @media #{$md,$xss} {
                            width: 60px;
                            height: 60px;
                        }

                        width: 70px;
                        height: 70px;
                        background: #F9F8F5;
                        display: flex;
                        position: relative;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        margin-right: 15px;
                        transition: all ease-in-out .5s;
                        overflow: hidden;
                        -webkit-transition: all ease .5s;
                        -moz-transition: all ease .5s;
                        -ms-transition: all ease .5s;
                        -o-transition: all ease .5s;
                        z-index: 1;

                        &::before {
                            content: "";
                            position: absolute;
                            top: -100%;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: var(--st-theme-primary);
                            transition: all 0.4s ease;
                            z-index: -1;
                        }
                    }
                }

                .service-content {
                    p {
                        color: var(--st-common-black);

                        @media #{$md,$xss} {
                            font-size: 16px;
                        }
                    }
                }

                .p-absolute {
                    position: absolute;
                    top: 30px;
                    width: 80%;
                    left: 30px;
                }
            }
        }
    }
}



/*----------------------------------------*/
/*  05. ABOUT US CSS START HERE
/*----------------------------------------*/

.about-us-area {
    .about-wrapper {
        .about-content {
            @media #{$xs,$sm,$md} {
                padding-top: 30px;
            }

            h2 {
                padding-right: 50px;
                padding-bottom: 20px;
                margin-bottom: 0;
            }

            p {
                padding-right: 20px;
                padding-bottom: 30px;
                margin-bottom: 0;
            }

            .about-list {
                @media #{$xss} {
                    flex-direction: column;
                }

                .first-list {
                    ul {
                        li {
                            position: relative;
                            padding-left: 30px;
                            margin-bottom: 18px;

                            &::after {
                                position: absolute;
                                content: '';
                                width: 16px;
                                height: 16px;
                                border-radius: 50%;
                                background: var(--st-theme-primary);
                                top: 5px;
                                left: 0;
                            }
                        }
                    }
                }

                .second-list {
                    margin-left: 20px;

                    @media #{$xss} {
                        margin-left: 0;
                    }

                    ul {
                        li {
                            position: relative;
                            padding-left: 30px;
                            margin-bottom: 20px;

                            &::after {
                                position: absolute;
                                content: '';
                                width: 16px;
                                height: 16px;
                                border-radius: 50%;
                                background: var(--st-theme-primary);
                                top: 5px;
                                left: 0;
                            }
                        }
                    }
                }
            }

            .about-btn-wrapper {
                padding-top: 25px;

                @media #{$xss} {
                    flex-direction: column-reverse;
                    gap: 20px;
                }

                .massage-btn {
                    margin-left: 35px;
                }

                .help-wrapper {
                    margin-left: 25px;

                    span {
                        font-size: 16px;
                    }

                    h6 {
                        font-size: 20.9px;
                        font-weight: 500;
                        line-height: 29.24px;
                    }
                }
            }
        }
    }
}



/*----------------------------------------*/
/*  06. FASHION BLOG CSS START HERE
/*----------------------------------------*/

.fashion-blog-wrapper {
    margin: 120px 5%;

    @media #{$lg,$md} {
        margin: 80px 3%;
    }

    @media #{$sm,$xs} {
        margin: 50px 2%;
    }

    .gray-fashion-blog {
        background-color: var(--st-grey-1);
        border-radius: 60px;
        padding: 120px 0 90px 0;

        @media #{$lg} {
            padding: 80px 0 50px 0;
        }

        @media #{$md} {
            padding: 48px 0 18px 0;
        }

        @media #{$sm,$xs} {
            padding: 40px 0 10px 0;
        }

        @media #{$lg,$md,$sm,$xs} {
            border-radius: 30px;
        }

        .fashion-blog-title {
            h2 {
                padding: 0 30px 60px 30px;

                @media #{$lg} {
                    padding: 0 20px 40px 20px;
                }

                @media #{$md} {
                    padding: 0 20px 24px 20px;
                }

                @media #{$sm,$xs} {
                    padding: 0 20px 16px 20px;
                }

                @media #{$xss} {
                    padding: 0 0 16px 0;
                }
            }
        }

        .single-fashion-blog {
            border: none;
            border-radius: 20px;
            transition: transform 0.3s ease;

            .fashion-blog-img {
                position: relative;
                border-radius: 20px;
                overflow: hidden;
                &::before {
                    position: absolute;
                    top: 0;
                    left: -75%;
                    z-index: 2;
                    display: block;
                    content: '';
                    width: 50%;
                    height: 100%;
                    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                    -webkit-transform: skewX(-25deg);
                    transform: skewX(-25deg);
                }
                &:hover::before{
                    -webkit-animation: shine 1s;
                    animation: shine 1s;
                }

                img {
                    width: 100%;
                    border-radius: 20px;
                }

                .fashion-body {
                    padding: 45px 30px 30px 30px;
                    border-radius: 20px;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0.04%, rgba(255, 255, 255, 0.95) 38.07%);
                    position: absolute;
                    bottom: 0%;
                    width: 100%;
                    left: 0;
                    right: 0;

                    @media #{$md,$sm,$xs} {
                        padding: 20px 10px;
                    }

                    .fashion-title {
                        color: var(--st-common-black);
                        font-size: 29.1px;
                        padding-bottom: 20px;
                        margin: 0;

                        @media #{$md,$sm,$xs} {
                            font-size: 24px;
                            line-height: 24px;
                        }
                    }

                    .tags {
                        .tags-badge {
                            background-color: var(--st-theme-secondary);
                            color: var(--st-common-black);
                            border-radius: 20px;
                            font-weight: 400;
                            padding: 6px 15px;
                            font-size: 18.4px;
                            line-height: 27.56px;

                            @media #{$md,$sm,$xs} {
                                font-size: 14px;
                                line-height: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*----------------------------------------*/
/*  07. TESTIMONIAL CSS START HERE
/*----------------------------------------*/
.testimonial-area {
    margin: 0 5%;

    @media #{$lg,$md} {
        margin: 0 3%;
    }

    @media #{$sm,$xs} {
        margin: 0 2%;
    }

    .testimonial-bg-wrapper {
        background-color: var(--st-theme-secondary);
        border-radius: 60px;
        .bg-shape{
            padding: 120px 0 90px 0;
            @media #{$md} {
                padding: 80px 0 60px 0;
            }
    
            @media #{$sm,$xs} {
                padding: 48px 0 28px 0;
            }
    
    
            @media #{$lg} {
                padding: 80px 0 50px 0;
            }
    
        }

        @media #{$lg,$md,$sm,$xs} {
            border-radius: 30px;
        }

        .testimonial-wrapper-title {
            h2 {
                padding: 0 0 60px 0;

                @media #{$lg} {
                    padding: 0 0 40px 0;
                }

                @media #{$md} {
                    padding: 0 0 24px 0;
                }

                @media #{$sm,$xs} {
                    padding: 5px 0 20px 5px;
                }

            }
        }

        .testimonial-wrapper {
            padding: 50px 20px 0 20px;

            .testimonial {
                padding: 30px;
                border-radius: 20px;
                background: var(--st-common-white);

                .testimonial-img {
                    max-width: 100px;
                    max-height: 100px;
                    border-radius: 50%;
                    margin: -80px auto 20px auto;
       
                    img {
                        width: 100%;
                        border-radius: 50%;
                    }
                }

                .client-author {
                    background: url('/assets/img/clients/bg-shadow.png');
                    background-repeat: no-repeat;
                    background-position: top center;
                    background-size: contain;

                    h5 {
                        margin: 0;
                    }

                    span {
                        font-size: 16px;
                        line-height: 24px;
                        display: inline-block;
                        padding-bottom: 20px;
                    }
                }

                .client-description {
                    margin: 0;
                    padding-bottom: 20px;
                }

            }
        }

        .report-appiontment-wrapper {
            padding-top: 120px;

            @media #{$xs} {
                padding-top: 32px;
            }

            @media #{$sm} {
                padding-top: 48px;
            }

            @media #{$md} {
                padding-top: 60px;
            }

            .report-wrapper {
                .report-title {
                    margin-bottom: 30px;

                    @media #{$xs,$sm,$md} {
                        margin-bottom: 15px;
                    }
                }

                p {
                    margin: 0;
                    padding-bottom: 40px;
                }

                .number-report {
                    padding-bottom: 15px;
                    margin-bottom: 20px;

                    &::after {
                        position: absolute;
                        content: '';
                        width: 320px;
                        height: 1px;
                        background: var(--st-border-1);
                        bottom: 0;

                        @media #{$xss} {
                            width: 265px;
                        }
                    }
                }

                .location-report {
                    &::after {
                        position: absolute;
                        content: '';
                        width: 320px;
                        height: 1px;
                        background: var(--st-border-1);
                        bottom: -10px;

                        @media #{$xss} {
                            width: 265px;
                        }
                    }
                }

                .repo-msg {
                    display: flex;
                    align-items: center;
                    position: relative;

                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        background: var(--st-common-white);
                        margin-right: 18px;

                        i {
                            font-size: 24px;
                        }
                    }

                    .text {
                        a {
                            h6 {
                                font-weight: 500;

                                @media #{$xss} {
                                    font-size: 18px;
                                }

                                span {
                                    display: block;

                                    @media #{$xss} {
                                        font-size: 16px;
                                        line-height: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .home-appiontment-form {
            @media #{$xs,$sm,$md} {
                padding-top: 60px;
            }

            .appointment-form-wrapper {
                padding: 40px;
                border-radius: 20px;
                border: 2px solid var(--st-common-white);

                @media #{$xss} {
                    padding: 25px 12px;
                }

                h2 {
                    margin-bottom: 40px;
                }

                .appointment-form {
                    p {
                        @media #{$xss} {
                            flex-direction: column;
                        }

                        display: flex;
                        gap: 30px;
                        flex-direction: row;
                        margin-bottom: 30px;

                        input[type="text"],
                        input[type="email"] {
                            width: 50%;

                            @media #{$xss} {
                                width: 100%;
                            }
                        }

                        input[type="textarea"],
                        .nice-select,
                        a {
                            width: 100%;
                        }

                        .nice-select {
                            .list {
                                width: 100%;
                                border-radius: 20px;
                                background-color: var(--st-grey-1);
                            }
                        }

                        a {
                            text-align: center;
                            margin-top: 10px;
                        }

                        input,
                        .nice-select,
                        textarea {
                            width: 100%;
                            border-radius: 999px;
                            display: block;
                            padding: 13px 30px;
                            color: var(--st-text-body);
                            background-color: transparent;
                            background-clip: padding-box;
                            border: 1px solid #E1CEBC;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

                            &:focus {
                                color: #212529;
                                border-color: var(--st-grey-1);
                                outline: 0;
                                box-shadow: 0 0 0 .05rem var(--st-theme-primary);
                            }

                            &::placeholder {
                                color: var(--st-text-body);
                                font-size: 16px;
                                line-height: 24px;
                            }
                        }

                        textarea {
                            border-radius: 20px;
                            font-size: 16px;
                            line-height: 24px;
                            height: 100px;
                            width: 100%;

                            &::placeholder {
                                color: var(--st-text-body);
                                font-size: 16px;
                                line-height: 24px;
                            }
                        }

                        sider-quick-compose-btn {
                            display: none;
                        }

                        .nice-select {
                            font-size: 16px;
                            line-height: 24px;
                            padding: 8px 30px;
                            height: 54px;
                            display: flex;
                            align-items: center;

                            &::after {
                                right: 20px;
                                font-size: 10px;
                                top: 50%;
                                color: var(--st-theme-primary);
                            }
                        }
                    }

                    .submit-btn {
                        margin: 10px 0 0 0;
                    }
                }
            }
        }
    }
}

//Reiews ICON
.client-reviews {
    ul {
        justify-content: center;
        align-items: center;

        li {
            margin-right: 8px;

            a {
                margin: 0;
                padding: 0;

                i {
                    color: #FFA336;
                }
            }
        }
    }
}


/*----------------------------------------*/
/*  08. TEAM CSS START HERE
/*----------------------------------------*/
.team-area {
    .team-wrapper-title {
        h2 {
            padding: 0 0 60px 0;

            @media #{$lg} {
                padding: 0 0 40px 0;
            }

            @media #{$md} {
                padding: 0 0 24px 0;
            }

            @media #{$sm,$xs} {
                padding: 5px 0 20px 5px;
            }

        }
    }

    .doctor-team-wrapper {
        .single-doctor {
            
            @media #{$sm,$xs,$md} {
               margin-bottom: 30px;
            }
            &:hover .doctor-social-lists ul li {
                transform: translate(0);
                opacity: 1;
            }
            .doctor-img {
                position: relative;
                transition: all 0.3s ease-in-out;
                border-radius: 20px;
                overflow: hidden;
                &::before {
                    position: absolute;
                    top: 0;
                    left: -75%;
                    z-index: 2;
                    display: block;
                    content: '';
                    width: 50%;
                    height: 100%;
                    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                    -webkit-transform: skewX(-25deg);
                    transform: skewX(-25deg);
                }
                &:hover::before{
                    -webkit-animation: shine 1s;
                    animation: shine 1s;
                }
                img {
                    width: 100%;
                }

                .info-footer-button-wapper {
                    position: absolute;
                    top: 0;
                    right: 0;
                    text-align: center;
                    width: 100%;
                    width: 60px;
                    @media #{$xs,$md,$lg} {
                        width: 48px;
                    }
                    @media #{$xl} {
                        width: 55px;
                    }

                    i {
                        font-size: 24px;
                        line-height: 20px;
                        font-weight: 900;
                        padding: 20px;
                        transition: all 0.3s ease-in-out;
                        background: var(--st-grey-1);
                        border-radius: 50%;
                        
                        @media #{$xs,$md,$lg} {
                            padding: 13px;
                        }
                        @media #{$xl} {
                            padding: 18px;
                        }
                    }
                }

                .doctor-social-lists {
                    top: 75px;
                    right: 20px;

                    ul {
                        li {
                            i {
                                background: #DFE0E3;
                                &:hover{
                                    background: var(--st-theme-primary);
                                }

                            }
                        }
                    }
                }
            }
            .doctor-author{
                text-align: center;
                h4{
                    padding-top: 20px;
                    padding-bottom: 10px;
                    margin: 0;
                }
                span{
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}

/*----------------------------------------*/
/*  09. Blog CSS START HERE
/*----------------------------------------*/
.blog-area{
    .blog-title-wrapper {
        justify-content: space-between;
        align-items: center;
        padding-bottom: 60px;
        @media #{$xs,$sm} {
            flex-direction: column;
            gap: 18px;
        }
        h2 {
            margin-bottom: 0;
            @media #{$xs,$sm} {
                text-align: center;
            }
            span{
                display: block;
                @media #{$xs,$sm} {
                    display: inline;
                }
            }
        }
    }
    .blog-wrapper{
        .blog{
            @media #{$xs,$sm,$md} {
                margin-bottom: 30px;
            }
            .blog-img{
                position: relative;
                border-radius: 20px;
                overflow: hidden;
                &::before {
                    position: absolute;
                    top: 0;
                    left: -75%;
                    z-index: 2;
                    display: block;
                    content: '';
                    width: 50%;
                    height: 100%;
                    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                    -webkit-transform: skewX(-25deg);
                    transform: skewX(-25deg);
                }
                &:hover::before{
                    -webkit-animation: shine 1s;
                    animation: shine 1s;
                }
                img{
                    width: 100%;
                    transition: transform 1s ease-in-out;
                }
                margin-bottom: 20px;
                .blog-overlay-icon{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 52px;
                    height: 52px;
                    background: var(--st-grey-1);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    line-height: 12px;
                }
            }
            .blog-post-meta{
                margin-bottom: 20px;
                .blog-post-author{
                    a{
                        font-size: 12px;
                    }
                    i{
                        font-size: 14px;
                        padding-right: 5px;
                    }
                }
                .blog-post-date{
                    padding-left: 30px;
                    i{
                        font-size: 14px;
                        padding-right: 5px;
                    }
                    a{
                        font-size: 12px;
                    }
                }
            }
            .blog-title{
                h4{}
            }
        }
    }
}