@use "../../utils" as *;
/*----------------------------------------*/
/*   PROJECT DETAILS CSS START
/*----------------------------------------*/

.project-details{
    .project-details-wrapper{
        .project-feature-image{
            width: 100%;
        }
        .project-information{
            padding: 40px 30px;
            border-radius: 20px;
            background: var(--st-common-white);
            box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
            .project-information-Button{
                border: 1px solid var(--st-border-1);
                border-radius: 999px;
                text-align: center;
                padding: 16px 61px 16px 42px;
                margin-bottom: 40px;
                h3{
                    font-size: 29.1px;
                    font-weight: 400;
                }
                }
                .project-details-information{
                    .detail-sb{
                        font-size: 20.9px;
                        font-weight: 500;
                        span{
                            font-size: 18.4px;
                        }
                    }
            }
        }
        .appointment-form-wrapper{
            margin-top: 40px;
            padding: 40px 30px;
            border-radius: 20px;
            background: var(--st-common-white);
            box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
            h2{
                margin-bottom: 40px;
            }
            .appointment-form{
                p{
                    max-width: 100%;
                    width: 100%;
                    display: flex;
                    gap: 20px;
                    flex-direction: row;
                    margin-bottom: 30px;
                    input[type = "text"],input[type = "email"]{
                        width: 50%;
                    }
                    input[type = "textarea"], .nice-select, a{
                        width: 100%;
                    }
                    .nice-select{
                        .list{
                            width: 100%;
                            border-radius: 20px;
                            background-color: var(--st-grey-1);
                        }
                    }
                    a{
                        text-align: center;
                        margin-top: 10px;
                    }
                    input, .nice-select, textarea{
                        width: 100%;
                        height: 40px;
                        border-radius: 999px;
                        display: block;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16px;
                        padding: 12px 20px;
                        color: var(--st-text-body);
                        background-color: var(--st-grey-1);
                        background-clip: padding-box;
                        border: 1px solid var(--st-grey-1);
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                        &:focus{
                            color: #212529;
                            background-color: var(--st-grey-1);
                            border-color: var(--st-grey-1);
                            outline: 0;
                            box-shadow: 0 0 0 .22rem var(--st-theme-primary);
                        }
                        &::placeholder{
                            color: var(--st-text-body);
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }
                    textarea{
                        border-radius: 20px;
                        font-size: 16px;
                        line-height: 24px;
                        height: 100px;
                        width: 100%;
                        &::placeholder{
                            color: var(--st-text-body);
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                    .nice-select{
                        font-size: 16px;
                        line-height: 24px;
                        padding: 8px 20px;
                        &::after{
                            right: 15px;
                            font-size: 10px;
                        }
                    }
                }
                p.submit-btn{
                    margin: 0;
                }
            }
        }
    }
}